@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
.heroimage{
  width: 100%;
  height: 50vh;
  object-fit: cover;
}
.header{
  position: absolute;
  top: 50%;
  left: 15%;
  width: 60%;
  height: fit-content;
  font-family: 'Open Sans', sans-serif;
  color: white;
  z-index: 2;
  letter-spacing: 2px;
  font-weight: 300;
  -webkit-border-radius: 0px 0px 100px 0px;
  border-radius: 0px 0px 100px 0px;
  background: rgb(0,11,40);
  background: linear-gradient(90deg, rgba(0,11,40,1) 0%, rgba(0,12,38,0.7402311266303396) 50%);
  h2{
    font-weight: 300;
    padding-left: 10px;
  }
}
.pagegrid{
  display: grid;
  grid-template-columns: 70% 30%;
  grid-row: auto;
  width: 90%;
  margin: auto;
  margin-top: 7vh;
  .stars{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 50%;
    margin: 5px 0;
    img{
     width: 30px;
     height: auto;
    }
  }
  .rooms{
    h4{
      font-family: 'Open Sans', sans-serif;
      padding-left: 5%;
      margin-top: 10vh;
      color: rgb(73, 73, 73);
      cursor: pointer;
    }
    .header2{
      width: 90%;
      text-align: left;
      font-family: 'Open Sans', sans-serif;
      margin: auto;
      margin-top: 2vh;
      color: rgb(99, 99, 99);
      font-weight: 600;
      font-size: 30px;
    }
    .desc{
      width: 90%;
      margin: auto;
      font-family: 'Open Sans', sans-serif;
      color: rgb(99, 99, 99);
      border-bottom:5px dashed rgb(128, 128, 128);
    }
      .room{
        display: grid;
        grid-template-columns: 30% 70%;
        grid-row: auto;
        width: 90%;
        margin: auto;
        background-color: white;
        margin-bottom: 3vh;
        padding: 20px;
        cursor: pointer;
        transition: 0.5s;
        img{
          width: 100%;
          object-fit: cover;
        }
        .text{
          width: 90%;
          margin: auto;
          font-family: 'Open Sans', sans-serif;
          color: rgb(99, 99, 99);
          .price{
            text-align: right;
            margin-top: 20px;
          }
        }
      }
      .room:hover{
        transform: scale(1.05);
        transition: 0.5s;
      }
  }
.cities{
  padding-left: 10%;
  h4{
    font-family: 'Open Sans', sans-serif;
    color: rgb(99, 99, 99);
  }
    p{
  padding-left: 10%;
  font-family: 'Open Sans', sans-serif;
  color: rgb(99, 99, 99);
  cursor: pointer;
}
.adress:before{
  content: " ";
  font-family: "FontAwesome";
  content: "\f08d";
}
.phone:before{
  content: " ";
  font-family: "FontAwesome";
  content: "\f0e0";
}
}
}
.countrynav{
  text-align: center;
  width: calc(400px + 200 * ((100vw - 320px) / 680));
  color: rgb(131, 131, 131);
  display: grid;
  margin: 2vh auto 2vh auto;
  padding-bottom: 2vh;
  font-family: 'Open Sans', sans-serif;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  box-shadow: 0 4px 2px -2px gray;
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  .pagegrid {
    grid-template-columns: 1fr;
  }
}
